extends base

mixin reviewCard(review)
    div.comment
        div.topCommentArea
            div.topCommentArea-left
                img#pLogga(src=`https://storage.cloud.google.com/fp_storage/public/img/users/${review.user.logo}` alt=`${review.user.name}` width='100%')
                - const reviewUserArr = review.user.name.split(' ')
                p#pSkribent.mrg-left=`${reviewUserArr[0][0]}. ${reviewUserArr[reviewUserArr.length-1]}`
            span.dot.commentDot
            div.topCommentArea-right    
                p#pTime=review.date.toLocaleString('sv-SE', {day: 'numeric', month: 'short', year: '2-digit'})                  
        div.bottomCommentArea
            q=review.comment


block content
    div#read_art(data-article=article data-user=user.id) 
        include variables
            article.articleContainer(style=`background: ${backgroundTopic};`)
                div#pCredWrapper
                    img#pLogga(src=`https://storage.cloud.google.com/fp_storage/public/img/users/user-${article.owner}.jpeg` width='100%')
                    span.dot
                    p#pSkribent=article.author
                    span.dot
                    p#pTime=article.date.toLocaleString('sv-SE', {day: 'numeric', month: 'short', year: '2-digit'})
                hr
                h3#pRubrik=article.h
                div.pParagraphContainer
                figure
                    img.pImg(src=`https://storage.cloud.google.com/fp_storage/public/img/articles/${article.img1}` alt=`${article.alt1}`)
                    figcaption#pFig=article.fig1
                div.pParagraphContainer
                q#pQuote=article.q
                - if (article.img2)
                    figure.artFig2
                        img.artImg2.pImg(src=`https://storage.cloud.google.com/fp_storage/public/img/articles/${article.img2}` alt=`${article.alt2}`)
                        figcaption#pFig.artCap2=article.fig2
                div.pParagraphContainer
                div.commentsContainer
                    each review in article.reviews
                        +reviewCard(review)
                hr.articleLastHr
                div#pTags.articleTags
                    each tag in article.tags
                        div.pTag=tag
                
        
        